In [3]:
#import needed module
import pandas as pd
url = "FoodBalanceSheets_E_Africa_NOFLAG.csv"
df=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin1")

In [25]:
#check the data by displaying the first 5 records
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [26]:
#save the data to a csv file named fuel.csv
df.to_csv("fuel.csv")

In [5]:
fuel_data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin1")
fuel_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [30]:
fuel_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [25]:
fuel_data.groupby('Y2014')['Y2014'].count()

Y2014
-1796.0      1
-1631.0      1
-849.0       2
-838.0       1
-685.0       1
            ..
 90425.0     1
 98094.0     1
 108756.0    1
 109593.0    1
 176405.0    1
Name: Y2014, Length: 4493, dtype: int64

In [33]:
fuel_data[['Y2014']] = fuel_data[['Y2014']].fillna(value='-849.0')

In [34]:
fuel_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014              0
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
#Use grouby to count the sum of each unique value
fuel_data.groupby('Item Code')['Item Code'].count()

Item Code
2501     90
2511    653
2513    570
2514    687
2515    474
       ...
2946    639
2948    631
2949    571
2960    535
2961    392
Name: Item Code, Length: 122, dtype: int64

In [7]:
fuel_data.groupby('Element Code').first()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,4,Algeria,2501,Population,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
645,4,Algeria,2905,Cereals - Excluding Beer,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
664,4,Algeria,2901,Grand Total,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
674,4,Algeria,2901,Grand Total,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
684,4,Algeria,2901,Grand Total,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5072,4,Algeria,2905,Cereals - Excluding Beer,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
5123,4,Algeria,2905,Cereals - Excluding Beer,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
5131,4,Algeria,2905,Cereals - Excluding Beer,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
5142,4,Algeria,2905,Cereals - Excluding Beer,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
5154,4,Algeria,2905,Cereals - Excluding Beer,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
5170,4,Algeria,2905,Cereals - Excluding Beer,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
5171,7,Angola,2913,Oilcrops,Tourist consumption,1000 tonnes,0.00,0.00,0.00,0.00,0.00
5301,4,Algeria,2501,Population,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
5511,4,Algeria,2905,Cereals - Excluding Beer,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
5521,4,Algeria,2905,Cereals - Excluding Beer,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
5527,4,Algeria,2905,Cereals - Excluding Beer,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
5611,4,Algeria,2905,Cereals - Excluding Beer,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
5911,4,Algeria,2905,Cereals - Excluding Beer,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00

In [8]:
fuel_df1 = fuel_data.iloc[0:19000].reset_index(drop=True)

In [12]:
fuel_df2 = fuel_data.iloc[19000:].reset_index(drop=True)

In [13]:
#check that the length of both dataframes sum to the expected length
assert len(fuel_data) == (len(fuel_df1) + len(fuel_df2))

In [14]:
pd.merge(fuel_df1, fuel_df2, how="inner")

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [20]:
pd.merge(fuel_df1, fuel_df2, how="outer")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [21]:
pd.merge(fuel_df1, fuel_df2, how="left")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
18995,209,Eswatini,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,3.00,0.00,0.00,1.00
18996,209,Eswatini,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.13,0.13,0.00,0.00,0.05
18997,209,Eswatini,2680,Infant food,684,Fat supply quantity (g/capita/day),g/capita/day,0.02,0.02,0.00,0.00,0.01
18998,209,Eswatini,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,7.00,9.00,8.00,11.00,10.00
18999,209,Eswatini,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,-1.00,0.00,1.00,4.00,3.00

In [23]:
pd.concat([fuel_df1, fuel_df2]).reset_index(drop=True)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [24]:
#check for duplicate rows
fuel_data.duplicated().any()

False